<mat-card>
    <mat-card-title>
        New Product
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Price" [(ngModel)]="product.price" name="price" required>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="accent">
        Save
    </button>

    <button mat-raised-button (click)="cancelCreateProduct()" class="cancel">
        Cancel
    </button>
</mat-card>