<mat-card>
    <mat-card-title>
        Edit Client
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="client.name" name="name">
        </mat-form-field>

        <div>
            <mat-form-field>
                <input type="date" matInput placeholder="Birth Date" [(ngModel)]="client.birth_date"
                    name="addrbirth_date">
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="client.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" type="email" [(ngModel)]="client.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Adress CEP" [(ngModel)]="client.address_cep" name="address_cep">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Adress" [(ngModel)]="client.address" name="address">
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Address Number" [(ngModel)]="client.address_number"
                name="address_number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Adress District" [(ngModel)]="client.address_district" name="address_district">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Adress Complement" [(ngModel)]="client.address_complement"
                name="address_complement">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Adress City" [(ngModel)]="client.address_city" name="address_city">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateClient()" color="accent">
        Update
    </button>

    <button mat-raised-button (click)="cancelUpdateClient()" class="cancel">
        Cancel
    </button>
</mat-card>